*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #000000;
  background-image: url(icons/library3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(8px);
  height: 100vh;
  font-family: monospace;
}
.container{
  max-width: 80%;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  color: #ffff;
}
.header > button {
  padding: 0px 25px;
  border-radius: 10px;
  border: none;
  color: #ffff;
  font-size: 1rem;
  font-family: inherit;
  background-color: #7a977d;
  cursor: pointer;
}
.book-container{
  color: #ffff;
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

article {
  display: grid;
  gap: 10px;
  padding: 25px;
  background-color: #6d7e76; 
  border-radius: 12px;
  /* box-shadow: 3px 7px 10px #a4e1a6; */
  grid-template-rows: 1fr auto;
}

dialog[open]{
  display: grid;
  position-area: center;
  padding: 25px 50px;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 10px grey;
}
dialog form {
  display: grid;
  gap: 10px;
}
.form-btns{
  display: flex;
  justify-content: space-between;
}
.form-btns button{
  background-color: #56ff5075;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.add-book-form > input{
  outline: none;
  background-color: #ebffe987;
  border: 1px solid #8080807a;
  border-radius: 5px;
  height: 2rem;
  font-size: 1rem;
}
.books .book-btn {
  display: flex;
  gap: 10px;
}
.book-btn button{
  border: none;
  font-size: 1rem;
  padding: 5px 15px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.read{
  background-color: #a4e1a6;
  background: url(icons/book-open.svg);
  background-repeat: no-repeat;
}
.not-read{
  background-color: green;
  background: url(icons/book-one.svg);
  background-repeat: no-repeat;
}
.status{
  background-color: #a5e9923b;
  border-radius: 5px;
  padding: 5px;
  color: #071314;
}

.del-btn{
  background-color: #0000009e;
}
