*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #000000;
  background-color: #fffde9; 
  font-family: monospace;
}
.container{
  max-width: 80%;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.header > button {
  padding: 0px 25px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1rem;
  font-family: inherit;
  background-color: #5df485;
  cursor: pointer;
}
.book-container{
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

article {
  display: grid;
  gap: 10px;
  padding: 25px;
  border: 2px solid white;
  background-color: white;
  border-radius: 12px;
  box-shadow: 3px 7px 10px #a4e1a6;
}

dialog[open]{
  display: grid;
  position-area: center;
  padding: 25px 50px;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 10px grey;
}

dialog form {
  display: grid;
  gap: 10px;
}
.add-book-form > input{
  outline: none;
  background-color: #ebffe987;
  border: 1px solid #8080807a;
  border-radius: 5px;
  height: 2rem;
  font-size: 1rem;
}
.books .book-btn {
  display: flex;
  gap: 10px;
}
.book-btn button{
  border: none;
  font-size: 1rem;
  padding: 5px 15px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.readStatus {
  background-color: #a4e1a6;
}
.del-btn{
  background-color: #ff3a3aa3;
}