*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: rgb(0, 0, 0);
  background-color: rgb(167, 167, 167);
}
.container{
  max-width: 80%;
  margin: 0 auto;
}
.container header > h1{
  color: white;
}
.book-container{
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  border: 2px solid black;
}

article {
  display: grid;
  gap: 25px;
  padding: 25px;
  border: 2px solid white;
  background-color: white;
  border-radius: 12px;
  box-shadow: 3px 7px 10px #a4e1a6;
}